:root {
  --photobookImage : url("./assets/Page.png");
}
@media (min-width: 600px) {
  :root{
    --photobookImage : url("./assets/Page.png");
    --photobookImage : url("./assets/Photobook-finalized.png");
  }
}

.global-photobook-container {
  background-image: var(--photobookImage);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  filter: brightness(0.95);
  position : fixed;
  top : 50%;
  left : 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width : 80%;
  height : 80%;
  border : 10px solid #000000;
  border-radius: 6px;
}
.single-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border : 3px solid pink;
  height: 80%;
  width: 90%;
}
.pages-container {
  border : 3px solid orange;
  display: flex;
  justify-content: center;
  width : 90%;
  height: 90%;
}
.page-container {
  border : 3px solid yellow;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height : 100%;
  width: 50%;

}
.entryG{
  display: flex;
  border : 3px solid orange;
  align-items: center;
  justify-content: space-between;
}
.polaroidG{
  border : 3px solid #b1b1b1;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width : 30%;
  height : 95%;
  padding : 5%;
}
 .photoG {
  width : 100%;
  aspect-ratio: 1/1;
  border : 3px solid #b1b1b1;
}
.descriptionG {
  border : 3px solid blue;
  width : 50%;
}

.page-number-container{
  border : 3px solid green;
  display: flex;
  justify-content: space-between;
  position : absolute;
  bottom: 3%;
  width : 90%;
  height : 10%;
}