*{
  font-family: "handwriting";
  margin: 0;
}
body {
  background-image: url("./assets/Photobook-background-sky-reduced.png");

}

@font-face {
  font-family: "handwriting";
  src: url("./assets/OMORI_GAME.ttf");
}