:root {
  --menuWidth : 90vw;
}

@media (min-width : 600px){
  :root {
    --menuWidth : 70vmin;
  }
}

.program {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap : 30px;
  height : 100vh;
}

.menu {
  border : 5px solid white;
  width : var(--menuWidth);
  aspect-ratio: 1/1;
  color : white;
  background-color: black;
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position : relative;
}

.menu > h1 {
  width : 70%;
  height : 30%;
  font-size: 20vmin;
}


.menu button {
  width: 35%;
  height: 10%;
  font-size: 4.5vmin;
  text-align: center;
  margin-top : 5%;
}

.option {
  color : white;
  background-color: black;
  border : 5px solid white;
  border-radius: 3px;
  font-size : 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.option:hover {
  background-color: white;
  color : black;
}
.erase-option {
  background-color: transparent;
  border: none;
  position: absolute;
  bottom : 8%;
  left : 5%;
  max-width : 20%;

}
.erase-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index : 1;
  border : 5px solid white;
  background-color: black;
  color : white;
  width : 60%;
  height : 40%;
  gap : 10%;
  font-size : 1.5em;
}
.erase-buttons-container {
  width : 60%;
  height : 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.erase-buttons-container button {
  width : 40%;
  height : 100%;
  background-color: black;
  color : white;
  border : 3px solid white;
  font-size : 1em;
  font-weight : bold;
}
.erase-buttons-container button:hover {
  background-color: white;
  color : black;
}
.exit-button {
  position: fixed;
  left : 10px;
  top : 10px;
  width : 70px;
  height : 70px;
  color : white;
  background-color: black;
  font-size: 70px;
  font-weight: bold;
  border: 5px solid white;
}
