

.program {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap : 30px;
  height : 100vh;
}

.menu {
  border : 5px solid white;
  width : 70vmin;
  height : 70vmin;
  color : white;
  background-color: black;
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu > h1 {
  width : 70%;
  height : 30%;
  font-size: 20vmin;
}


.menu button {
  width: 35%;
  height: 10%;
  font-size: 4.5vmin;
  text-align: center;
  margin-top : 5%;
}

.camera-option, .photobook-option {
  color : white;
  background-color: black;
  border : 5px solid white;
  border-radius: 3px;
}

.exit-button {
  position: fixed;
  left : 10px;
  top : 10px;
  width : 70px;
  height : 70px;
  color : white;
  background-color: black;
  font-size: 70px;
  font-weight: bold;
  border: 5px solid white;
}
.clear-photos-button {
  position : fixed;
  left : 0;
  bottom : 0;
  width : 8vmax;
  height: auto;
  background-color: transparent;
  border : none;
}
.clear-photos-button .clear-photos-prompt{
  visibility: hidden;
}
.clear-photos-button:hover .clear-photos-prompt{
  visibility: visible;
}
.clear-photos-prompt {
  position: relative;
  bottom : 10px;
  color : white;
  background-color: black;
  border : 2px solid white;
  font-size: 3vmax;
  width : 100%;
  height: auto;
  padding : 5%;
}
.reset-cat {
  background-color: transparent;
  border : none;
  height : 100%;
  width : 100%;

}